# Ignore everything in this directory
*

# Except these files

!.gitignore

!Development/LeftRightOut.sln
!Development/LeftRightOut.suo
!Development/Core/*
!Development/Flash/LeftRightOut/*
!Development/Src/AzurukGame.ucproj
!Development/Src/AzurukGame.ucproj.user
!Development/Src/AzurukGame/*

!UDKGame/Config/*
!UDKGame/Content/LeftRightOut/*
!UDKGame/Content/Maps/LeftRightOut/*